@charset "UTF-8";
.tools {display: none;}
#thapps {display: none;}
#tinserts {display: none;}
#jidos {display: none;}
#jidovs {display: none;}
#smenu {display: none; }
#nav {display: none;}
#nav.show {display: block;}

.wrap {
   background-image: url("../image/배너.png");
   height: 400px;
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover;
   
   /* Resize the background image to cover the entire container */
}

.p-intro {
	font-size: 12px;	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.content {
	display: inline-block; 
	width: 100%; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: normal; 
	line-height: 1.3; 
	height: 3.7em; 
	font-size: 14px !important;
	text-align: left; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
}

h1 {
   font-size: 4em;
}

h2 {
   font-size: 3em;
}

h4 {
   font-size: 20px;
}

h5 {
   font-size: 16px;
   margin-top: 14px;
   margin-bottom: 20px;
}

.ui.segment {
   text-align: center !important;
}

.title {
   font-size: 1.5em;
}

span {
   padding-left: 5px;
   padding-right: 5px;
}

.middle {
   border-left: groove thin;
   border-right: groove thin;
}

.content {
   font-size: 1.2em;
}

.logo {
   margin-left: 20px !important;
}

.happ {
	padding-top: 14px !important; 
	padding-bottom: 14px !important;
	padding: 10px;	
}
/* 미디어 쿼리 laptap*/

@media (max-width: 1042px) {
	.mode {display: none;}
	.container {width: 100% !important;margin-left: 0 !important; margin-right: 0 !important;}
	.f-won {display: block;}
	.logo {width:14% !important; height: 14% !important;}
}

@media (max-width: 800px) {
	.container {width: 100% !important; margin-left: 0 !important; margin-right: 0 !important;}
	.f-won {display: inline;}
	.insert {width: 50% !important;}
	.logo {width:13% !important; height: 13% !important;}
	
}

@media (max-width: 435px) {
	#smenu {display: block; position: absolute; top: 0;right: 0; padding: 5px; }
	#container {display: none;}
	#tools {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important;}
	#thapp {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important;}
	/* #thapps {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important;} */
	#tinsert {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important; padding-bottom: 5px !important;font-size: 16px !important; background-color: #000 !important; color:#fff}
	/* #tinserts {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important; padding-bottom: 5px !important;} */
	#insert {display: block;width: 100% !important;padding-left: 0 !important; padding-right: 0 !important;margin-left: 0 !important;margin-right: 0 !important; padding-bottom: 5px !important;}
	#icon1 {color:#fff !important;}
	#img1 {display: none;}
	#jido {display: block;width: 100%;padding-left: 5px !important;margin-left: 0 !important;margin-right: 0 !important;font-size: 16px !important; background-color: #000 !important; color:#fff}
	/* #jidos {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important;} */
	#jidov {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important; height:250px !important;} 
	/* #jidovs {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important;} */
	#wcompany {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important;font-size: 16px !important; background-color: #000 !important; color:#fff}
	#wcompanyv {display: block;width: 100%;margin-left: 0 !important;margin-right: 0 !important;}
	.nav {background-color: #000; padding-top: 5px; padding-bottom: 5px;}
	ul {padding-left: 20px;}
	li {list-style-type : none;}
	li a {color: #fff;}
	/* 메뉴밑에 높이 */
	.pointing{margin-bottom: 20px !important;}
	/* 상단 이미지 높이 */
	.wrap {height: auto !important;padding-bottom: 20px !important;}
	/* 타이틀제목 사라지기 */
	.t-name{display: none !important;}
	.loginjoin {display: none !important; }
	.projectRegister {display: none !important;}
	.projectFind {display: none !important;}
	.partnersList {display: none !important;}
	/* 등록된 프로젝트 위*/
	.thapp {margin-left: 0 !important ;margin-right: 0 !important;}
	.happ {display: block; width:100% !important; background-color: #04B4AE !important;}
	/* 등록된 프로젝트 아래*/
	/* .tinsert {margin-left: 0 !important ;margin-right: 0 !important;}
	.insert {width: 100% !important; margin-left: 0 !important;margin-right: 0 !important;padding-top: 5px !important; padding-bottom: 5px !important;} */
	.f-won {display: inline;}
	/* 지도 타이틀 */
	.csearch {font-size: 14px !important; text-align: left !important; margin-left:0 !important; margin-right:0 !important;}
	/* .wcompany {margin-left: 0 !important;margin-right: 0 !important;} */
	.logo {width:25% !important; height: 25% !important;} 
}
